div "Bienvenue sur l'aide du site"
div Que voulez-vous faire ?
form(id="aide-form", method="POST")
  input(
    type="text"
    placeholder="Posez votre question ici"
    id="user_question"
    name="user_question"
  )
  button(type="submit") Chercher

h3 Votre question
if locals.question
  div= question
