h1 Aide

div
  | La section d'aide est en construction, merci de votre patience.
div Que voulez-vous faire ?
form(id="aide-form", method="POST")
  input(
    type="text"
    placeholder="Posez votre question ici"
    id="user_question"
    name="user_question"
  )
  button(type="submit") Chercher

h3 Votre question
if locals.question
  div= question
if locals.section
  div= `Vous voulez atteindre la section ${section}`
